@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", san-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

.left-nav {
  display: flex;
}
.left-nav a {
  text-decoration: none;
  color: blue;
  margin-right: 3vw;
}
.left-nav a:focus {
  text-decoration: none;
  color: blue;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3em;
  border-radius: 16px;
  margin: 50px 32vw;
  margin-top: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container .info {
  width: 100%;
  height: auto;
  text-align: center;
}
.container .emoji {
  font-size: 2rem;
}
.container .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.container .rating .star {
  padding: 0 0.5em;
  cursor: pointer;
}
.container .rating .star:hover path {
  fill: #ffe766;
}
.container .rating .star:hover ~ .star path {
  fill: #ffe766;
}
.container .rating .star path {
  fill: #777;
  width: 100%;
  height: 100%;
  stroke: none;
}
.container .rating .selected ~ .star path,
.container .rating .selected path {
  fill: #ffd700;
}
.slider {
  width: 30vw;
  margin-top: 30px;
}
.slider img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}
.slick-list {
  height: 500px;
}
.prompt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
  margin-bottom: 10px;
}
.slick-prev:before, .slick-next:before {
  color: black;
}
.feedback-question {
  color: blue;
  cursor: pointer;
}
.feedback-input {
  display: none;
}
.feedback-textarea {
  width: 30vw;
}
.save {
  margin-top: 30px;
}
.save-btn {
  padding: 10px;
  width: 10vw;
  cursor: pointer;
}

.error {
  text-align: center;
  color: red;
}

.success {
  text-align: center;
  color: green;
}

.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
  cursor: pointer;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.login-text {
  margin: 30px 0;
}

#loading {
  margin: 30px 0;
}

#login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  height: 64px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 64px;
  align-items: center;
  position: fixed;
  z-index: 100;
  background: white;
  top: 0;
}

#user-info {
  display: flex;
}

#sign-out {
  color: blue;
  margin-left: 50px;
  cursor: pointer;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.masonry-container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
  margin-top: 100px;
}

.masonry-container h2 {
  text-align: center;
  margin: 30px;
}

.masonry-container .lds-ring {
  left: 50%;
  transform: translateX(-50%);
}

.masonry {
  max-width: 100%;
  column-gap: 30px;
}


@media only screen and (min-width: 992px) {
  .masonry {
    column-count: 3;
  }
}

.masonry-item {
  margin: 0 0 30px;
  display: inline-block;
  width: 100%;
}

.box {
  width: 100%;
  height: 300px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  position: relative;
}

.box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.box .prompt-box {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  height: 80px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 20px;
}

.edit-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-box .my-comment {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: blue;
  cursor: pointer;
}

#my-prompt {
  width: 100%;
}

.save-my-prompt {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.empty-rated-list {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
